img{
    max-width: 2rem;
    max-height: 3rem;
}

.row2{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    place-content: center;
    gap: .2rem;
    margin-top: 0.2rem;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.full{
    display: grid;
    grid-template: 7rem/1fr;
    place-content: center;
    border: rgb(0, 255, 213) solid;
}

.heading{
    display: grid;
    place-content: center;
    color : goldenrod;
    background :brown;
    border : rgb(0, 255, 213) solid; margin-top: 0.2rem;
    font-weight: bolder;
}