img{
    max-width: 2rem;
    max-height: 3rem;
}

.row2{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    place-content: center;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.full{
    display: grid;
    grid-template: 7rem/1fr;
    place-content: center;
    /* padding-top : 0.4rem; */
}